.home {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, #6dd5fa, #2980b9);
  color: white;
}

.home h1 {
  font-size: 42px;
  font-weight: bold;
}

.home button .home-container {
  min-height: 100vh;
  padding: 20px;
  background: #f9f9f9;
}

.project-logo {
  max-width: 150px;
  height: auto;
}

.text-purple {
  color: #6a1b9a;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hairfall-video {
  max-width: 90%;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}
.home button {
  margin-top: 20px;
  padding: 12px 25px;
  background: white;
  color: #2980b9;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}
.home button:hover {
  background: #f1f1f1;
  cursor: pointer;
}