/* Navbar container */
.custom-navbar {
  background: linear-gradient(90deg, #2758ae, #2ecc71);
  padding: 20px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: bold;
  font-family: initial;
  font-weight:  bold;
  font-size: 30px;
}

/* Flexbox layout */
.navbar-container {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s ease;

}

.navbar-logo:hover {
  color: rgb(243, 59, 27);
}

/* Navbar links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: red;
  transform: translateY(-2px);
}

/* Register button */
.register-btn {
  background: #f39c12;
  padding: 8px 14px;
  border-radius: 6px;
  color: white !important;
  font-weight: bold;
  transition: 0.3s;
}

.register-btn:hover {
  background: red;
  color: #fff;
}

